/* Estilos para dispositivos de pantalla grande (desktops) */
body {
    font-size: 16px;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos para dispositivos medianos (tabletas) */
  @media only screen and (max-width: 1920px) {
    body {
      font-size: 14px;
    }
  
    .container {
      width: 90%;
    }

    .cont-carou{
        margin: 200px 100px;
    }

    .slick-dots li {
        padding: 0px 0px !important;
        margin: 0px 25px !important;
    }
  }


  

  /* Estilos para dispositivos medianos (tabletas) */
  @media only screen and (max-width: 992px) {
    body {
      font-size: 14px;
    }
  
    .container {
      width: 90%;
    }

    .cont-carou{
        margin: 150px 100px;
    }

    .slick-dots li {
        padding: 0px 0px !important;
        margin: 0px 20px !important;
    }
  }
  





  /* Estilos para dispositivos pequeños (teléfonos) */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 12px;
    }

    .slick-dots li {
        padding: 0px 0px !important;
        margin: 0px 10px !important;
    }

    .circle{
        width: 210px;
        height: 210px;
        top: -40%;
    }
  }
  






  /* Estilos adicionales para dispositivos muy pequeños (teléfonos pequeños) */
  @media only screen and (max-width: 576px) {
    .container {
      width: 100%;
    }

    .cont-carou{
        margin: 150px 30px;
    }

    .slick-dots li {
        padding: 0px 0px !important;
        margin: 0px 5px !important;
    }

    .foot-a img {
        width: 20px;
    }

    .icons-foot {
        background-color: aqua;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .circle{
        width: 180px;
        height: 180px;
        top: -35%;
    }

    /* .nav-cont-prin{ */
        
    /* } */
  }
  